*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  display: flex;
  height: 100vh;
  background-color: rgb(217, 112, 145);
  align-items: center;
}
body{
  height: 100%;
}
h2{
  color: white;
}
.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.card{

  border: 3px solid rgb(119, 0, 255);
}
.text{
  margin: 10px;
}
@media(min-width:768px){
  .container-cards{
    display: flex;
    flex-direction: row;
  }

}